In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.special import erf
from scipy.stats import norm
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline
#%matplotlib tk

In [6]:
result = pd.read_csv("/home/lin/git/summerProject/chkjac", header=None)
result.describe()

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
mean,0.758983,0.774128,0.785279,0.790645,0.787021,0.794410,0.780866,0.792999,0.757942,0.771664,...,0.013440,0.013442,0.013444,0.013447,0.015458,0.015453,0.015449,0.015445,0.015442,NaN
std,0.111361,0.113869,0.112017,0.108711,0.109541,0.106215,0.115528,0.116673,0.107076,0.111842,...,0.027513,0.027521,0.027531,0.027542,0.032605,0.032599,0.032592,0.032586,0.032581,NaN
min,0.454147,0.492843,0.533325,0.522125,0.525228,0.504708,0.495859,0.269047,0.460425,0.494185,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,0.697692,0.700262,0.709067,0.723932,0.723601,0.731172,0.712236,0.723032,0.702259,0.704708,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,0.760625,0.790976,0.803538,0.803037,0.800713,0.801946,0.788737,0.803760,0.762485,0.785197,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,0.828189,0.863138,0.855696,0.871347,0.850236,0.862619,0.855696,0.869406,0.819658,0.852558,...,0.014207,0.014204,0.014200,0.014197,0.015096,0.015080,0.015061,0.015040,0.015019,NaN
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.959901,...,0.155193,0.155184,0.155183,0.155191,0.170975,0.170930,0.170867,0.170788,0.170704,NaN

In [7]:
result.head()

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,0.778271,0.715336,0.816459,0.690410,0.686649,0.670326,0.602455,0.684779,0.793079,0.725196,...,0.094203,0.094336,0.094492,0.094650,0.113202,0.113032,0.112832,0.112633,0.112467,NaN
1,0.756816,0.768570,0.900584,0.807729,0.962743,0.801244,1.000000,0.903398,0.762114,0.759389,...,0.016638,0.016623,0.016606,0.016590,0.017373,0.017355,0.017334,0.017310,0.017288,NaN
2,0.695730,0.632197,0.748479,0.826067,0.930934,0.924003,0.795602,0.821729,0.752749,0.660830,...,0.083991,0.083983,0.083978,0.083976,0.087830,0.087848,0.087867,0.087884,0.087896,NaN
3,0.698346,0.747317,0.832072,0.696731,0.696041,0.722533,0.698272,0.746220,0.687877,0.712245,...,0.001085,0.001074,0.001062,0.001049,0.003306,0.003292,0.003276,0.003259,0.003244,NaN
4,0.507929,0.536930,0.624379,0.618124,0.525228,0.511521,0.555986,0.544344,0.504441,0.530953,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN

In [10]:
np.array(result.iloc[1])

array([0.756816 , 0.76857  , 0.900584 , 0.807729 , 0.962743 , 0.801244 ,
       1.       , 0.903398 , 0.762114 , 0.759389 , 0.871114 , 0.816133 ,
       0.946699 , 0.796924 , 0.930871 , 0.980086 , 0.761063 , 0.778204 ,
       0.864817 , 0.811019 , 0.889534 , 0.795463 , 1.       , 0.972629 ,
       0.771781 , 0.767808 , 0.862668 , 0.81316  , 1.       , 0.796743 ,
       0.930016 , 0.982002 , 0.747969 , 0.764805 , 0.832315 , 0.809844 ,
       0.949859 , 0.801766 , 1.       , 0.926304 , 0.0148108, 0.0148075,
       0.0148037, 0.0147998, 0.0147961, 0.0150925, 0.0150877, 0.0150822,
       0.0150765, 0.0150713, 0.0153662, 0.01536  , 0.0153528, 0.0153453,
       0.0153383, 0.0156989, 0.0156909, 0.0156817, 0.015672 , 0.0156628,
       0.0166516, 0.0166384, 0.0166227, 0.016606 , 0.0165899, 0.0173733,
       0.0173553, 0.0173338, 0.0173104, 0.0172877,       nan])

In [11]:
np.array(result.iloc[11])

array([7.98147e-01, 8.99200e-01, 7.78890e-01, 8.19737e-01, 8.21650e-01,
       8.88279e-01, 7.61572e-01, 8.88802e-01, 8.17086e-01, 9.20850e-01,
       7.89466e-01, 8.16765e-01, 8.33450e-01, 9.56956e-01, 7.57784e-01,
       8.50644e-01, 7.82273e-01, 1.00000e+00, 7.88017e-01, 8.42237e-01,
       8.31496e-01, 9.30629e-01, 7.65821e-01, 8.52250e-01, 7.97361e-01,
       9.86988e-01, 8.04327e-01, 8.21558e-01, 8.20108e-01, 9.46685e-01,
       7.68338e-01, 8.61493e-01, 7.97161e-01, 9.11258e-01, 7.94354e-01,
       8.19745e-01, 8.24190e-01, 9.40561e-01, 7.66302e-01, 8.46513e-01,
       3.89129e-03, 3.88606e-03, 3.88013e-03, 3.87404e-03, 3.86842e-03,
       2.77999e-03, 2.77272e-03, 2.76440e-03, 2.75580e-03, 2.74782e-03,
       1.63770e-03, 1.62907e-03, 1.61911e-03, 1.60875e-03, 1.59907e-03,
       1.21714e-04, 1.11771e-04, 1.00207e-04, 8.80827e-05, 7.66710e-05,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
               nan])